/* Set por defecto */

html, body {
    max-width: 100% !important;
    overflow: auto !important;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: middle;
}

/* SECCION HEADER */

#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 6px 0;
    background: #1b1b1b;
}

#header .logo, img {
    margin-left: 25px;
    max-width: 10%;
    min-width: 150px;
    height: auto;
}

/* MENU (SOLO LA PATE DE LOS BOTONES, LINKS Y DEMÁS) */

/* Contenedores */

.contenedor-menu {
    display: flex !important;
    align-items: center !important;
    align-content: center;
    justify-content: space-between !important;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.menu {
    padding: 0;
    position: relative;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 25px;
}

/* Lista e items */

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 18px;
    color: #fafafa;
    white-space: nowrap;
    transition: 0.3s;
    /* text-transform: uppercase; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.menu a:hover {
    color: #8f88c9;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6cfd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Boton de descarga */

.btn-descargar {
    text-decoration: none;
    background: #E75D00;
    border-radius: 30px;
    margin-left: 25px;
}

/* Boton: Cambio de color */

#navbar ul li .btn-descargar:hover {
    background: #d4702d;
    color: #ffffff;
}

/* SECCION DE PORTADA */

#portada {
    margin: 0.5rem, 0.7rem;
    /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(../img/banner-1.png); */
    background-image: url(../img/banner-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-position-y: 0%;
    background-size: cover;
}

/* Contenedor e interiores */

.contenedor-portada {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 500px;
    width: auto;
}

/* Imagen logo Itics */

.img-portada {
    width: 200px;
    height: auto;
    display: block;
    align-items: center;
    align-content: center;
}

/* Imagen: Tamaños */

.img-portada img {
    margin: 0;
    max-width: 100%;
    min-width: 150px;
    height: auto;
    transition: 1.2s;
}

/* Imagen: Animación */

.img-portada a img:hover {
    min-width: 215px;
    transition: 0.1s;
    opacity: 0.96;
}

/* Contenedor de información portada */

.info-portada {
    width: 720px;
    height: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/* Info Portada: Titulos y link */

.info-portada h2, h3, a {
    padding: 15px 0;
}

/* Info Portada: Primer titulo */

.info-portada h2 {
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
}

/* Info Portada: Segundo titulo */

.info-portada h3 {
    font-weight: 500;
    font-size: 18px;
    padding: 15px 5rem;
}

/* Info Portada: Link boton */

.info-portada a {
    text-decoration: none;
    background: #E75D00;
    border-radius: 9px;
    /* width: 200px; */
    padding: 20px;
    margin-top: 13px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.info-portada a:hover {
    background: #d4702d;
    color: #ffffff;
}

/* -------------------- INICIO --Seccion de taller----------- */

/* Titulo de talleres */
.titulo-btn {
    text-align: center;
    padding-bottom: 20px;
    color: #3D3A6C;

}


/* Botones por semestre */

.btn-se {
    /* background-color: #F0F6FA; */
    margin: 20px auto;
    margin-bottom: 0;
    border-bottom: 2.5px solid #3D3A6C;
    background: #fefefe;

}

.OculT {
    background-color: #F0F6FA;
}

.contenedor-btn-semestres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 20px 10px;
    padding-bottom: 0px;
}

.btn-semestre {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #858585;
    background-color: #fff;
    /* border-radius: 8px; */
    border: 1px solid #ffffff;
    transition: 0.5s;
}

.btn-semestre:hover {
    /* background-color: #3D3A6C; */
    /* border: #3D3A6C; */
    color: #3D3A6C;
    transition: 0.3s;
    cursor: pointer;
}

/* Barra superios */

/*contenedor  general de talleres*/

    background-color: #F0F6FA;
    =======.contenedor-taller {
        /* background-color: #F0F6FA; */
        >>>>>>>5ec6587 (Algunos cambios necesarios para empezar con la funcion de los botones)
    }
    /* barra superior */
    .barra-superior-taller {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        /* border: 1px solid black; */
    }
    /* contenedor de logo & div de mes  */
    .conjunto-logoymes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    /* logo  */
    .div-logo {
        width: 200px;
    }
    /* div que contiene "NOVIEMBRE"  */
    .taller-mes-barra {
        background-color: #EB8005;
        color: white;
        padding: 3px 50px;
        border-radius: 5px;
    }
    /* Tamaño de la letra del mes */
    .taller-mes-barra h2 {
        font-size: 1.7em;
    }
    /* Logo de tics  */
    .logo-tics-lateral {
        width: 300px;
        height: 100%;
        margin-left: 30px;
    }
    /* imagen del logo de tics  */
    .logo-tics-lateral a img {
        min-width: 230px;
        /* height: 100%; */
    }
    /* Personas que dan los talleres  */
    /* contenedor general de los talleristas */
    <<<<<<< HEAD .contenedor-personas-taller {
        padding: 5px 0px;
        =======.contenedor-personas-taller {
            padding: 40px 0px;
            >>>>>>>5ec6587 (Algunos cambios necesarios para empezar con la funcion de los botones) background-color: #F0F6FA;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            transition: all 500ms ease;
        }
        /* configuracion de imagenes */
        .persona-img-nombre {
            /* border: 1px solid red; */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }
        /* ancho de la imagen */
        .persona-img {
            /* border: 1px solid black; */
            width: 300px;
            margin: 15px;
        }
        /* control del tamaño de la imagen */
        <<<<<<< HEAD .persona-img img {
            min-width: 300px;
            margin: 5px;
            =======.persona-img img {
                min-width: 180px;
                margin: 0px;
                >>>>>>>5ec6587 (Algunos cambios necesarios para empezar con la funcion de los botones)
            }
            /* control del nombre y de donde es la persona  */
            .persona-nombre {
                /* border: 1px solid black; */
                width: 300px;
                text-align: center;
                margin: 15px;
            }
            /* contenedor del nombre del taller y fechas mas hora  */
            .nombre-fecha {
                /* border: 1px solid green; */
                padding: 10px;
                display: flex;
                flex-direction: column;
                width: 300px;
                text-align: center;
                align-content: center;
                align-items: center;
            }
            /* tamaño del tema  */
            .tema h2 {
                /* background-color: yellow; */
                font-size: 18px;
                padding: 5px;
            }
            /* configuracion del div de la hora  */
            .hora {
                border: 1px solid cornflowerblue;
                margin: 7px;
                padding: 5px;
                text-align: center;
                background-color: #3D3A6C;
                color: white;
                border-radius: 5px;
                width: 180px;
            }
            <<<<<<< HEAD .huno {
                margin-left: -50px;
            }
            .hdos {
                margin-left: 30px;
            }
            .htres {
                margin-left: 120px;
            }
            =======>>>>>>>5ec6587 (Algunos cambios necesarios para empezar con la funcion de los botones)
            /* tamaño de la letra  */
            .hora p {
                font-size: 1em;
                margin: auto;
            }
            <<<<<<< HEAD
            /* #TSem3{
    background-color: #fa7d0898;
}
#TSem5{
    background-color: #2ed0db8e;
}
#TSem7{
    background-color: #ffe6009f;
} */
            <<<<<<< HEAD
            /* ventana modal  */
            /* .modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#chec-p-1:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.contenedor-modal{
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: rosybrown;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
}
.contenedor-modal header{
    padding: 10px;
    background-color: royalblue;
    color: #fff;
}
*/
            .persona-nombre label {
                border-radius: 5px;
                cursor: pointer;
                transition: all 300ms ease;
            }
            /* #btn-modal{
    display: none;
} */
            .container-modal {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(144, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 100;
            }
            #btn-modal:checked~.container-modal {
                display: flex;
            }
            .content-modal {
                width: 100%;
                max-width: 400px;
                padding: 20px;
                background-color: #fff;
                border-radius: 4px;
            }
            .content-modal p {
                padding: 15px 0px;
                border-top: 1px solid #dbdbdb;
                border-bottom: 1px solid #dbdbdb;
            }
            .content-modal .btn-cerrar {
                width: 100%;
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;
            }
            .content-modal .btn-cerrar label {
                padding: 7px 10px;
                background-color: #5488a3;
                color: #fff;
                border-radius: 4px;
                cursor: pointer;
                transition: all 300ms ease;
            }
            .content-modal .btn-cerrar label:hover {
                background-color: #185E83;
            }
            /* Footer copyright */
            .contenedor_copyright {
                width: 100%;
                margin-right: auto;
                margin-left: auto;
                background-color: #3D3A6C;
                color: #fff;
            }
            .copyright {
                font-size: 15px;
                padding: 25px 0;
                font-family: "Roboto", sans-serif;
            }
            .text-center {
                text-align: center !important;
            }
            .link-copyright {
                text-decoration: none;
                color: #fff;
            }
            =======/* Ocultar los talleristas */
            #talleristas-primer, #talleristas-tercer, #talleristas-quinto {
                display: none;
            }
            >>>>>>>5ec6587 (Algunos cambios necesarios para empezar con la funcion de los botones)
    transition: 1s;
}

/* Footer copyright */
.contenedor_copyright {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #3D3A6C;
    color: #fff;
  }
  .copyright {
    font-size: 15px;
    padding: 25px 0;
    font-family: "Roboto", sans-serif;
  }
  .text-center {
    text-align: center !important;
  }
  .link-copyright {
    text-decoration: none;
    color: #fff;
  }

