/* .boton-modal{
    padding: 40px;
    background-color: white;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: violet;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;

}



.boton-modal label:hover{
    background-color: tomato;
}

#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(144, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;

}
#btn-modal:checked ~ .container-modal{
display: flex;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb ;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color: #185E83;

} */

/* -------------------Targetas------------ */
/* section  INICIO */
.section-talleres{
    background-color: #F0F6FA;
}
/* contendor de targetas INICIO */
.contenedor-talleres{
 display: flex;
 flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
align-content: center;
padding: 20px 10px;
}
/* Tarjeta INICIO */
/* Contenedor  */
.contenedor-targeta{
    padding: 20px;
    margin: 5px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #707070;
    border-radius: 100px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 570px;
}
/* Seccion de información de la persona   INICIO*/
.contendor-persona{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
/* div del tipo de taller  */
.tipo-taller{
    border-radius: 50px 0px 50px 0px;
    background-color: #EC8603;
    width: 180px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tipo-taller p{
    font-family: 'Montserrat', sans-serif;
}
/* imagen de la persona  */
.img-persona{
    max-width: 160px;
}
/* nombre de la persona  */
.div-nombre{
max-width: 200px;
display: flex;

}
.div-nombre label{
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

}
/* lugar de donde viene  */
.lugar-persona{
    max-height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
}
.lugar-persona p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* Seccion de la información de la persona FIN  */

/* Seccion de información del evento INICIO */
/* contenedor  */
.contenedor-informacion{
    /* background-color: lawngreen; */
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 240px;

}
/* Seccion de grupos % LIVE */
.grupos-live{
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.grupos{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cont-img-grupos{
    padding: 7px;
    margin: 0px 5px;
    background-color: #EB2121;
    border-radius: 50%;
}
.cont-img-grupos img{
    max-width: 20px;
}
.grupos-asignados{
    text-align: center;
    margin-left: 5px;
    padding: 5px;
}
.grupos-asignados p{
    text-align: center;
    margin: 4px 0px;
    font-family: 'Montserrat', sans-serif;
    color:#EB2121;
    font-size: 12px;
}
.live{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
}
.live img{
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
}
.cont-live{
background-color: #EB2121;
border-radius: 5px;
}
.cont-live p{
color: #fff;
font-family: 'Montserrat', sans-serif;
margin: 4px 17px;
font-size: 13px;
}
.tema-taller{
    /* background-color: aqua; */
    text-align: center;
}
.tema-taller h4{
    font-family: 'Montserrat', sans-serif;
}

.hora{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.hora-div-2 {
    margin-left: 10px;
}
.hora-div-2 p{
    font-family: 'Montserrat', sans-serif;
    color: #3D3A6C;
    font-size: 1em;
}
.btn-accion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding: 10px 0px; */
    background-color: #3EE45F;
    border-radius: 10px;
    max-width: 270px;
    margin: auto;
}
.btn-input-action{
    font-family: 'Montserrat', sans-serif;
    background-color: #3EE45F;
}
.btn-action-img{
    max-width: 22px;
}
.btn-action-estado{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}
.btn-action-estado p{
    margin: 9px 0px;
}
.btn-A{
    /* display: flex; */
    justify-content: center;
}

/* -------------------MODAL  */
/* .modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background-color: rgb(0, 0, 0);
    width: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}
.modal .content-modal{
    
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background:white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 99999999;
}
.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #444444;
    margin: 0;
}
.modal article{
    height: 300px;
    background: #bc651a;

}
.close-modal{
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
.modal a:hover{
color: #c0392b;
}
.modal:target{
    opacity: 1;
    top: 0;
}
.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}
.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
} */
:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
   
  * {
    padding: 0;
    margin: 0;
  }
  /* .open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  } */

  /*CUSTOM VARIABLES HERE*/
 
.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  /*CUSTOM VARIABLES HERE*/
 
.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
  }
  /*CUSTOM VARIABLES HERE*/
 
.modal-dialog > * {
    padding: 1rem;
  }
   
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
   
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .modal-header .modal-close {
    font-size: 1.5rem;
  }
   
  .modal p + p {
    margin-top: 1rem;
  }
  .modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }