/* Set por defecto */

html, body {
    max-width: 100% !important;
    overflow: auto !important;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: middle;
}

/* SECCION HEADER */

#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 6px 0;
    background: #1b1b1b;
}

#header .logo, img {
    margin-left: 25px;
    max-width: 10%;
    min-width: 150px;
    height: auto;
}

/* MENU (SOLO LA PATE DE LOS BOTONES, LINKS Y DEMÁS) */

/* Contenedores */

.contenedor-menu {
    display: flex !important;
    align-items: center !important;
    align-content: center;
    justify-content: center !important;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.menu {
    padding: 0;
    position: relative;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 25px;
}

/* Lista e items */

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 18px;
    color: #fafafa;
    white-space: nowrap;
    transition: 0.3s;
    /* text-transform: uppercase; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.menu a:hover {
    color: #8f88c9;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6cfd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Boton de descarga */

.btn-descargar {
    text-decoration: none;
    background: #E75D00;
    border-radius: 30px;
    margin-left: 25px;
}
    /* Boton: Cambio de color */
#navbar ul li .btn-descargar:hover {
    background: #d4702d;
    color: #ffffff;
}


/* SECCION DE PORTADA */

#portada {
    margin: 0.5rem, 0.7rem;
    /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(../img/banner-1.png); */
    background-image: url(../img/banner-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-position-y: 0%;
    background-size: cover;
}


/* Contenedor e interiores */

.contenedor-portada {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 500px;
    width: auto;

}
    /* Imagen logo Itics */

.img-portada {
    width: 200px;
    height: auto;
    display: block;
    align-items: center;
    align-content: center;

}
    /* Imagen: Tamaños */
.img-portada img {
    margin: 0;
    max-width: 100%;
    min-width: 150px;
    height: auto;
    transition: 1.2s;
}
    /* Imagen: Animación */
.img-portada a img:hover {
    min-width: 215px;
    transition: 0.1s;
    opacity: 0.96;
}

    /* Contenedor de información portada */
.info-portada {
    width: 720px;
    height: auto;
    text-align: center;
    color: #fff;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

    /* Info Portada: Titulos y link */
.info-portada h2, h3, a {
    padding: 15px 0;
}

    /* Info Portada: Primer titulo */
.info-portada h2 {
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
}

    /* Info Portada: Segundo titulo */
.info-portada h3 {
    font-weight: 500;
    font-size: 18px;
    padding: 15px 5rem;
}

    /* Info Portada: Link boton */
.info-portada a{
    text-decoration: none;
    background: #E75D00;
    border-radius: 9px;
    /* width: 200px; */
    padding: 20px;
    margin-top: 13px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}


.info-portada a:hover {
    background: #d4702d;
    color: #ffffff;
}






